
<div id="home">
<h1>Welcome to Simple Blog!</h1></br>
<p> just want a place to put your thoughts without having to "personalize"
and all that other silly stuff?</p> <h3>Simple Blog is the place for you </h3> </br><p>To get started
just click signup on the top right of this page. If you already have an account, click on log in.
</p>
</br>
<h2>Please edit your profile after logging in!</h2>
<p>
Click the Edit Profile button on the top right to edit your profile. Not using an image on your profile may affect
formatting.
</p>
</br>
<h2>Just want to check out someone else's blog?</h2><p> Click on List of viewers on the top right or use the search to find someone specific</p></br>
</div>