
<div id="home">
<h1>Welcome to Simple Blog!</h1></br>
<p> just want a place to put your thoughts without having to "personalize"
and all that other silly stuff?</p> <h3>Simple Blog is the place for you </h3> </br><p>To get started
just click signup on the top right of this page. If you already have an account, click on log in.
</p>
</br>
<h2>Please edit your profile after logging in!</h2>
<p>
Click the Edit Profile button on the top right to edit your profile. Not using an image on your profile may affect
formatting.
</p>
</br>
<h2>Just want to check out someone elses blog?</h2><p> Click on List of viewers on the top right</p></br>
<h2>Want to link someone to your blog?</h2><p>Your blog can be viewed at "localost:3000/users/(insert username here)"</br>
Try if now by entering "localhost:3000/users/Yanushik" <strong> The usernames ARE case sensitive</strong> so don't forget that!
</div>