// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blog_container{
             
	table{
        background-color:rgba(255,255,255,1.0);
		padding:10px 10px 25px 1px;
		border-radius: 10px;
		width:747px;
		box-shadow: 5px 5px 20px 0px #fff;
        color: #00000;
        word-wrap: normal;        
	}
	td{
		
		padding-top: 5px;
		width: 50px;
		max-width: 50px;
		word-wrap: break-word;
		
		
	}
        hr{
            height: 2px;
            border:none;
            color: rgb(149, 142, 124);
            background-color: rgb(149, 142, 124);
            width: 60%;
        }
	#timestamp{
		font-size: 9px;;
	}
	position: relative;
	top: -320px;
	right: -230px;
}
#blog_profile_container{
	position:relative;
        display: box;
        overflow:wrap;
	height: auto;
	padding: 5px;
	width: 170px;
        
        
        background-color:#FFFFFF;
        font-size: 11px;
        padding-right: 100px;
box-shadow: 5px 5px 20px 0px #fff;
        
}
#flash_notice{
	padding: 10px;
	color: red;
}
#footer{
 position:fixed;
 bottom: 0;
 left: 0;
 font-size: 9px;
 height: 15px;
 background-color:#958E7C;
 width:100%;
 text-align: center;
}
#comment{
   font-size: 10px;
   font-weight:bold
   
}
#commentbody{
   font-size: 10px;
   padding-top:3px;
   padding-left: 25px;

}
#commentdate{
   font-size: 8px;
   padding-left: 500px;
}

#commentcount{
   font-size: 9px;
   
}