// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home{
	text-align: center;
	padding-top: 0px;
}
h1{
    color: rgb(149, 142, 124);
}